<ng-template appPlaceholder></ng-template>

<div class="row">
  <div class="auth__wrapper">

    <div><img src="./assets/images/img-01.webp" alt="IMG"></div>

    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" class="auth__form">
      <span class="auth__form-title">Member {{ !isLoginMode ? 'Sign up' : 'Login' }}</span>

      <div class="auth__form-input">
        <input
          class="form-control"
          email
          id="email"
          name="email"
          ngModel
          required
          placeholder="Email Address"
          type="email">
        <span class="symbol-input"><i class="fa fa-envelope" aria-hidden="true"></i></span>
      </div>

      <div class="auth__form-input">
        <input
          class="form-control"
          id="password"
          minlength="6"
          name="password"
          ngModel
          required
          placeholder="**********"
          type="password">
        <span class="symbol-input"><i class="fa fa-lock" aria-hidden="true"></i></span>
      </div>

      <div class="auth__btn-wrapper">
        <button [disabled]="authForm.invalid" type="submit">
          {{ !isLoginMode ? 'Sign up' : 'Login' }}
          <app-loading-spinner *ngIf="isLoading" [auth]="true"></app-loading-spinner>
        </button>
      </div>

      <div class="text-center" style="padding-top: 40px;">
        <a (click)="onSwitchMode()" class="switch__mode">
          Switch to {{ isLoginMode ? 'Sign up' : 'Login' }}
          <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
      </div>

    </form>

  </div>
</div>
